body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*set colore green to the font`s header of the website*/
header {
  background-color: #469761;
  padding: 1rem;
}

/*set colore dark-black to the header of the website*/
header a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}
